
// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Clear a float with .clearfix
.clearfix

	&:after
		clear: both
		content: ' ' // The space content is one way to avoid an Opera bug.
		display: table

// Float either direction
.float-left
	float: left

.float-right
	float: right

.is-invalid
	border: .1rem solid $color-error !important

.invalid-feedback
	color: $color-error
	font-size: 0.85em